.Apropos h2 {
    text-align: center;
    color: black;
    padding-bottom: 10%;
}

.amelie {
    display: flex;
    height: 200px;
    float: left;
}
.textpres{
    padding-top: 5%;
    padding-left: 30%;
    
}
.passion h2 {
    padding-top: 15%;
    color: black;
    padding-bottom: 10%;
}

.cheval {
    padding-left:  5%; 
    padding-right: 15%;
}
.video{
    padding-right: 15%;
}
.velo{
    
    padding-right: 15%;
}


.formation h2 {
    color: black;
    padding-top: 10%;
    padding-bottom: 10%;
}

.Bac {
    text-align: center;
}
.mmi {
    text-align: center;
}
.stage {
    text-align: center;
}
.CDI {
    text-align: center;
}
.trait {
    padding-left: 42%;
    height: 200px;
}
@media (max-width: 1300px) {
    .cheval {
        
        padding-right: 10%;
    }
    .video{
        padding-right: 10%;
    }
    .velo{
        
        padding-right: 10%;
    }
}

@media (max-width: 1000px) {
    .cheval {
        
        padding-right: 5%;
    }
    .video{
        padding-right: 5%;
    }
    .velo{
        
        padding-right: 5%;
    }
}
@media (max-width: 800px) {

.amelie{
    padding-left: 5%;
    padding-bottom: 5%;
}
.textpres{
    padding-left: 0%;
    padding-top: 30%;
}
.cheval {

    padding-left: 40% ;
    padding-bottom: 5%;
}
.video {
    padding-left: 40% ;
    padding-bottom: 5%;
}
.velo {

    padding-left: 40% ;
    padding-bottom: 5%;
}
.amis {

    padding-left: 40% ;
}
.trait {
    padding-left: 22%;
    
}
}
