.Apropos {
    display: flex;
    flex-direction: column;

}
.Apropos h2 {
    display: flex;
    text-align: center;
    color: black;
}
.pres {
    display: flex;
    align-items: center;
}
.amelie {
    display: flex;
    margin-left: 5%;
    height: 200px;
    float: left;
}
.textpres {
    margin-left: 5%;
    margin-right: 5%;
}

.passion {
    display: flex;
    flex-direction: column;
}
.image-content{
display: flex;
justify-content: space-between;
}

.image-content img {
    margin-left: 5%;
    margin-right: 5%;
width: 10%;
height: auto;
}


.formation {
    display: flex;
    flex-direction: column;
}

.parcours {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}
.stage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MMI{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.STI2D {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    margin-bottom: 20%;
}

/* .contact {
    display: flex;
    justify-content: space-around;
    flex-direction: column; 
    margin-bottom: 10%;

}


.contact img {
    margin-right: 5%;
    padding-bottom: 10%;
}

.titre-contact {
    display: flex;
    flex-direction: column;
}
.info{

    flex-direction: column-reverse;
    display: flex;
    align-items: flex-start;

}

.reseau {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
    margin-left: 20%;
    
} */
@media (max-width: 800px) {
    .contact {
        margin-bottom: 40%;
    }
}

@media (max-width: 700px) {

    .Apropos {
        display: flex;
        flex-direction: column;
    }
    .pres {
    display: flex;
    flex-direction: column;
    }
    .amelie{
        margin-bottom: 5%;
    }

    .image-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .image-content img {
        margin-bottom: 5%;
    width: 20%;
    height: auto;
    }

    .contact {
        margin-bottom: 35%;
    }
    

}

@media (max-width: 500px) {

    .Apropos {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
    .contact {
        margin-bottom: 50%;
    }
    .footer-propos {
        margin-top: 40%;
    }
}

