.footer {
    background-color: black;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
}
.accueil {
    color: white;
    padding-right: 15%;
    padding-left: 13%;
}
.projet {
    color: white;
    padding-right: 13%;
}
.propos {
    color: white;
    padding-right: 13%;
}
.mention {
    color: white;
    padding-right: 13%;
}

.textmention h2 {
    padding-top: 5%;
    padding-left: none;
    padding-bottom: 3%;
    color: black;
}

.textmention a {
    /* padding-right: 5%; */
    padding-left: 5%;
}

.textmention p {
    padding-top: 2%;
    padding-left: 20%;
}
@media (max-width: 1024px) {
    .accueil {
        
        padding-right: 7%;
        padding-left: 2%;
    }
    .projet {
        
        padding-right: 7%;
        
    }
    .propos {
        
        padding-right: 7%;
        
    }
    .mention {
        
        padding-right: 7%;
       
    }
}
