
.div-titre {
    width: 100%;
}

.triangle_home{
    position: absolute;
    opacity: 100%;
    
}

.titre {
    color: #000;
    padding-left: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'BenchNine', light;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 23.04px;
    text-transform: uppercase;
}


h2{
    color: white;
    text-align: center;
    font-size: 300%;
}


p{
    font-size: 18px;
}
a{
    font-size: 24px;
    font-family:Helvetica;
    color: black;
}
/* .couverture-projet img {
    padding-left: 35%;
} */
.Portfoliodev h2 {
    color: black;
    padding-bottom: 5%;
}
.image {
    padding-top: 7%;
    padding-bottom: 5%;
}
.textmusee   {

    padding-left: 10%;
    text-decoration: none;
    padding-right: 10%;
}
.textmusee a {
    text-decoration: none;
}
.image1 {
    padding-top: 7%;
    padding-bottom: 5%;
}
.textepicbrowser {
    padding-left: 10%;
    text-decoration: none;
    padding-right: 10%;
}
.textepicbrowser a {
    text-decoration: none;
}
.image2 {
    padding-top: 7%;
    padding-bottom: 5%;
}
.textcolloque {
    
    padding-left: 10%;
    padding-right: 10%;
}
.textcolloque a {
    text-decoration: none;
}
.textpdm  {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 7%;
}
.textpdm a {
    text-decoration: none;
}
.image3 {
    padding-top: 7%;
    padding-bottom: 5%;
    width: 30%;
    height: 30%;
}


.Portfoliodev .img {
    width: 20%;
    height: 20%;
    text-align: center;
}
.Projetaudio h2 {
    color: black;
    padding-bottom: 5%;
}

.Projetaudio a {
    padding-left: 40%;
    
}
.Projetaudio h3 {
    padding-left: 40%;
    padding-bottom: 5%;
}
.Affiche {
    height: 450px;
}
.Emission {
    height: 320px;
}
.Mauresque {
    height: 170px;
}
.Jumping {
    height: 180px;
}

.Projetaudio a {
    text-decoration: none;
    
}
@media (max-width: 1400px) {
    .triangle_home{
        
        opacity: 0%;
    }
    
}
@media (max-width: 1024px) {
    .accueil {
        padding-bottom: 10%;
    }
    .logoAP  {
        width: 70%;
        height: 70%;
    }
    .titre {
        
        color: #000;
        padding-left: 12%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-family: 'BenchNine', light;
        font-size: 25px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 23.04px;
        text-transform: uppercase;
    }
        
.image {
    height: 150px;
}
.image1{
    
    height: 120px;
}
.image2 {
    
    height: 100px;
}
.textmusee   {

    padding-left: 0%;
}
.textepicbrowser {
    padding-left: 0%;
}
.textcolloque {
    padding-left: 0%;
}
.Projetaudio a {
    padding-left: 0%;
}
.Projetaudio h3 {
    padding-left: 0%;
}

}

@media (max-width: 800px) {
    .logoAP{
        width: 60%;
        height: 60%;
        padding-top: 15%;
    }
    .titre {
        
        padding-left: 12%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 20px;
        }
}

@media (max-width: 500px){
    .logoAP{
        padding-top: 35%;
        padding-left: 10%;
    }
    .titre {
        
        padding-left: 20%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-family: 'BenchNine', light;
        font-size: 18px;
        }
}