body {
margin: 0;
width: 100%;
}


/* Section page d'accueil */

.div-titre {
    width: 100%;
    margin-left: 10%;
}

.logoAP {
    padding-top: 5%;
}

.triangle_home{
    position: absolute;
    opacity: 100%;
    
}

.titre {
    color: #000;
    padding-left: 12%;
    padding-top: 5%;
    padding-bottom: 2%;
    font-family: 'BenchNine-light';
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 23.04px;
    text-transform: uppercase;
}

/* Style de H2 */

h2{
    color: black;
    font-family: 'Urbanist', 'thin';
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 44px;
    font-size: 44px;
    font-weight: 100;

    
}

/* Section de la page A propos de moi */
.paragraphePropos {
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 60px;
    padding-right: 28%;
}
.bouton{
    padding-left: 60px;
    padding-top: 50px;
}
.bouton input{
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    border: 1px solid var(--BLACK, #000);
    background: var(--AMELIE---ORANGE, #EFA35D);


}

a{
    text-decoration: none;
}

/* Section compétences pour l'audiovisuel */
.competance{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.competance img{
width: 100%;
}
.competance-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* Section me contacter */

.CONTACTER {

    padding-bottom: 5%;
} 

/* Numéro de téléphone */
.numero img{
    position : absolute; 
    padding-left: 10%;
}
.numero p {
    position : absolute; 
    padding-left: 15%;
    
} 

/* Adresse mail */

.mail img {
    position: absolute;
    padding-left: 10%;
    padding-top: 5%;
}
.mail p {
    position: absolute;
    padding-left: 15%;
    padding-top: 5%;
} 

/* localisation */

.localisation img {
    position: absolute;
    padding-left: 10%;
    padding-top: 10%;
}

.localisation p {
    position: absolute;
    padding-left: 15%;
    padding-top: 10%;
} 

/* Linkedin */

.linkedin img {
    margin-bottom: 3% ;
    padding-left: 50%;
    
} 

/* Instagram */

.instagram img {
    margin-bottom: 3%;
    padding-left: 50%;

} 

/* Github  */

.github img {
    
    padding-left: 50%;

}


/* .couverture-projet img {
    padding-left: 35%;
} */
.Portfoliodev h2 {
    color: black;
    padding-bottom: 5%;
}
.image {
    padding-top: 7%;
    padding-bottom: 5%;
}
.textmusee   {

    padding-left: 10%;
    text-decoration: none;
    padding-right: 10%;
}
.textmusee a {
    text-decoration: none;
}
.image1 {
    padding-top: 7%;
    padding-bottom: 5%;
}
.textepicbrowser {
    padding-left: 10%;
    text-decoration: none;
    padding-right: 10%;
}
.textepicbrowser a {
    text-decoration: none;
}
.image2 {
    padding-top: 7%;
    padding-bottom: 5%;
}
.textcolloque {
    
    padding-left: 10%;
    padding-right: 10%;
}
.textcolloque a {
    text-decoration: none;
}
.textpdm  {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 7%;
}
.textpdm a {
    text-decoration: none;
}
.image3 {
    padding-top: 7%;
    padding-bottom: 5%;
    width: 30%;
    height: 30%;
}


.Portfoliodev .img {
    width: 20%;
    height: 20%;
    text-align: center;
}
.Projetaudio h2 {
    color: black;
    padding-bottom: 5%;
}

.Projetaudio a {
    padding-left: 40%;
    
}
.Projetaudio h3 {
    padding-left: 40%;
    padding-bottom: 5%;
}
.Affiche {
    height: 450px;
}
.Emission {
    height: 320px;
}
.Mauresque {
    height: 170px;
}
.ratatouille {
    height: 200px;
}
.Jumping {
    height: 200px;
}

.Projetaudio a {
    text-decoration: none;
    
}
@media (max-width: 1400px) {
    .triangle_home{
        
        opacity: 0%;
    }
    
}
@media (max-width: 1024px) {
    .accueil {
        margin-bottom: 10%;
    }
    .logoAP  {
        width: 70%;
        height: 70%;
    }
    .titre {
        
        color: #000;
        padding-left: 12%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-family: 'BenchNine', light;
        font-size: 25px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 23.04px;
        text-transform: uppercase;
    }



/* Section compétences pour le developpement  */


/* Section de contacter */


.CONTACTER {
    padding-bottom: 5%;
}

/* Adresse mail */

.mail img {

    padding-top: 7%;
}
.mail p {

    padding-top: 7%;
}

/* localisation */

.localisation img {

    padding-top: 14%;
}

.localisation p {

    padding-top: 14%;
}






.image {
    height: 150px;
}
.image1{
    
    height: 120px;
}
.image2 {
    
    height: 100px;
}
.textmusee   {

    padding-left: 0%;
}
.textepicbrowser {
    padding-left: 0%;
}
.textcolloque {
    padding-left: 0%;
}
.Projetaudio a {
    padding-left: 0%;
}
.Projetaudio h3 {
    padding-left: 0%;
}

}

@media (max-width: 800px) {
    .logoAP{
        width: 60%;
        height: 60%;
        padding-top: 15%;
    }
    .titre {
        
        padding-left: 12%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 20px;
        }



/* Section compétences pour le developpement  */



/* Section de contacter */

.CONTACTER {

    padding-bottom: 5%;
}
.numero p {
    padding-left: 17%;
}

/* Adresse mail */

.mail img {

    padding-top: 10%;
}
.mail p {

    padding-top: 10%;
    padding-left: 17%;
}

/* localisation */

.localisation img {

    padding-top: 20%;
}

.localisation p {
    padding-left: 17%;
    padding-top: 20%;
}

/* Linkedin */
.linkedin img {
    margin-bottom: 6% ;
    padding-left: 60%;
    
} 

/* Instagram */

.instagram img {
    margin-bottom: 6%;
    padding-left: 60%;

} 
.github img {
    margin-left: 10%;
}





}

@media (max-width: 500px){


    .logoAP{
        margin-top: 5%;
    }
    .titre {
        
        margin-left: 0%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-family: 'BenchNine', light;
        font-size: 18px;
        }

        h2{
            color: black;
            font-family: 'Urbanist', 'thin';
            margin-top: 10%;
            margin-left: 5%;
            font-size: 26px;
            font-weight: 100;
        
            
        }


/* Section contacter */

.CONTACTER {
    padding-bottom: 5%;
}
.numero p {
    padding-left: 20%;
}

/* Adresse mail */

.mail img {

    padding-top: 15%;
}
.mail p {

    padding-top: 15%;
    padding-left: 20%;
}

/* localisation */

.localisation img {

    padding-top: 30%;
}

.localisation p {
    padding-left: 20%;
    padding-top: 30%;
}


.linkedin img {
    margin-top: 45%;
    margin-bottom: 5% ;
    padding-left: 10%;
    
} 

/* Instagram */

.instagram img {
    margin-bottom: 5%;
    padding-left: 10%;

} 

/* Github  */

.github  {
    
    margin-left: 5%;
    display: flex;

}






}