

header {
    margin-right: 1%;


}

header ul li img {
    width: 15%;
    height: 8%;
    display: flex;
    margin-right: 800px;
    justify-content: flex-start;
}
header ul li a {
    font-family: 'DIN', sans-serif;
    color: white;
    font-weight: bold;
    text-underline-offset: 5px;
    font-size: 25px;
}
header  ul li {
    display: inline;
    margin-left: 20px;
}
header ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    background: black;
    padding: 30px;
    width: 101%;
    margin-bottom: 0%;
    
}
.p {
    display: flex;
    margin: 0%;
}

.fdp{
    width: 10%;
    height: 10%;
    display: flex;
}

.accueil h1 {
    color: rgb(240, 173, 79);
    font-size: 300%;     
    margin-bottom: 10%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
 

} 
.accueil{
    width: 100%;
    height: 600px;
    background: linear-gradient(black, white);

}
.accueil h2{
    color: white;
    font-size: 150%;
    display: flex;
   align-items: center;
    justify-content: center;
    /* text-align: center;
    text-transform: uppercase; */
}





.presentation{
    background-color: white;
}
.presentation_contenu{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.presentation h3{
    font-size: xx-large;
    text-align: right;
    color: rgb(240, 173, 79) ;
    

}
.titre-bicolor{
    font-size: 80px;
    text-align: center;
}
.titre-presentation{
    color:rgb(240, 173, 79) ; 
    text-align: center;   
}
.presentation-text{
    font-size: 120%;
    width: 50%;
    margin-left: 80px;
    /* display: flex;
    flex-direction: row;
    justify-items: flex-end; */
}
.presentation img{
    width: 20%;
    height: 10%;
    /* padding-left: 10%; */
    margin-left: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    border: solid 1px black;
    /* display: flex;
    justify-content: right;
    align-items: flex-end;
    text-align: center; */
}



.formation {
    
    background: linear-gradient(white,  rgb(205, 201, 201));

}

.formation h1{
    display: flex;
  align-items: center;
  justify-content: center;
  font-size: 300%;
  padding-bottom: 2% ;

  padding-top: 2%;
}

.formation li{
    right: 10px;
    padding-left: 10%;
    padding-top: 2%;
}

 
.formation h2 {
    padding-left: 10%;
    font-size: 150%;
}
.formation h3 {
    padding-left: 20%; 
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 150%;
}
.formation p {
    padding-left: 20%; 
    padding-bottom: 2%;
}
.Portfoliodev{
    background-color: black;
}
.Portfoliodev h2{
    padding-top: 2%;
    font-size: 300%;
    text-align: center;
    padding-bottom: 10%;
    color: rgb(240, 173, 79) ;
}
.Portfoliodev li{
    display: flex;
    color: white;
    padding-left: 5%;
    font-size: 150%;
    padding-bottom: 5%;
    text-align: center;

}
.textmusee{
    display: flex;
}
.textmusee p {
    color: white;
    padding-left: 10%;
    font-size: 100%;
    padding-top: 5%;
    padding-right: 5%;
    text-align: left;
}
.textepicbrowser {
    display: flex;
}

.textepicbrowser p {
    color: white;
    padding-left: 10%;
    font-size: 100%;
    padding-top: 5%;
    padding-right: 5%;
    text-align: left;
}
.textcolloque{
    display: flex;
}
.textcolloque p{
    color: white;
    padding-left: 10%;
    font-size: 100%;
    padding-right: 5%;
    text-align: left;
}
.Projetaudio {
    background-color: black;
    
}
.Projetaudio h2{
    font-size: 300%;
    text-align: center;
    padding-bottom: 10%;
    color: rgb(240, 173, 79) ;
}
.Projetaudio li{
    
    color: white;
    font-size: 150%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;

}
.Projetaudio img{
    width: 100%;
    height: 100%;
}
.texte_dev{
    display: flex;
}
.texte_dev p{
    color: white;
}
.contact{
    display: flex;
}
.contactitle h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    font-size: 300%;
    padding-top: 5%;
    
}
.contact img{
    width: 10%;
    height: 10%;
    padding-left: 5%;
    
}
.linkedin img{
    width: 25%;
    height: 50%;
    padding-left: 15%;
}



.contact h4 {
    padding-left: 1%;
    font-size: 150%;
    padding-bottom: 5%;
    
}